/* primary FF6478 */
a {
  color: #FF6478;
}

small {
  color: #999999;
}

p {
  font-size: 18px;
}

.button-primary {
  background-color: #FF6478;
  border-color: #FF6478;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 0;

  display: block;
  border-style: solid;
  border-radius: 5px;
  background-color: #ffb300;
  background: -webkit-linear-gradient(#ffb300,#e67600);
  background: -moz-linear-gradient(#ffb300,#e67600);
  background: -ms-linear-gradient(#ffb300,#e67600);
  background: -o-linear-gradient(#ffb300,#e67600);
  background: linear-gradient(#ffb300,#e67600);
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  border-width: 1px;
  border-color: #000;

  max-width: 34rem;
  font-weight: normal;
  text-align: center;
  background-repeat: no-repeat;
}

.container {
  
}

.ta-c {
  text-align: center;
}

.mb-lg {
  margin-bottom: 3rem !important;
}
.mt-lg {
  margin-top: 3rem !important;
}
.mt-sm {
  margin-top: 0.5rem !important;
}
.b {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 2rem;
}

.b-b {
  border-bottom: 1px solid #dedede;
}

.fl-r {
  float: right;
}

h1 {
  font-weight: 600;
  color: #000000;
}

h1 strong {
  color: #FF6478;
}

p {
  color: #333333;
}

h4 {
  font-weight: 600;
  color: #FF6478;
}

.faq {
  border-bottom: 1px solid #dedede;
  padding-top: 2rem;
}

.faq:first-child {
  padding-top: 0;
}

footer {
  margin: 1rem 0;
}

.awww {
  margin-bottom: 2rem;
  max-height: 40rem;
}
.title {
  text-align: center;
  font-size: 3.2rem;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 14rem;
}

@media (min-width: 40.0rem) {
  .awww {
    margin-bottom: 0;
  }

  .title {
    text-align: left;
    font-size: 4.6rem;
  }

  .row .column.column-66, .row .column.column-67 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .row .column.column-33, .row .column.column-34 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    max-height: auto;
  }

  .button-primary {
    font-size: 16px;
  }
}

#mc_embed_signup * {
  text-align: left;
}

#mc_embed_signup .button {
  text-align: center !important;
  width: 100% !important;
  min-width: 100% !important;
}

#mc_embed_signup_scroll {
  display: flex;
}

#mc_embed_signup_scroll p {
  margin-bottom: 0;
}

#mce-EMAIL {
  margin-right: 0.5rem !important;
  flex: 2;
}

@media (max-width: 40.0rem) {
  #mc_embed_signup_scroll {
    flex-direction: column;
  }

  footer .privacy .fl-r {
    float: none !important;
  }
}